/configFiles/*
botdatabase.db
/.vscode/*
/__pycache__/*
/cogs/__pycache__/*
/settings/__pycache__/*
/website/__pycache__/*
website/static/fonts/custom.ttf
LemonMilk.otf
website/static/img/CSSGlitchEffect.zip
website/static/img/.zip
