{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="card col-md-12 shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Website Domain</h5>
        </div>
        <div class="card-body">
            <p>Http address provided to users by the bot when referencing the website</p>
            <span><b>Example Link: </b><span id="liveAddress"></span></span>
            <form action="" method="get">
                <span><b></b></span>
                <input type="text" name="webAddress" id="address" onkeyup="liveDomainFunction()">
                <script>
                    function liveDomainFunction() {
                        var currentAddress = document.getElementById("address").value;
                        if (currentAddress != "") {
                            currentAddress = currentAddress.concat("/leaderboard");
                            document.getElementById("liveAddress").innerHTML = currentAddress;
                        }
                    }
                </script>
                <br><br>
                <input type="submit" class="btn btn-success" name="SaveAutoRole" value="&nbsp; Save &nbsp;">
            </form>
        </div>
    </div>
</div>
{% endblock content %}