{% extends "layout.html" %}
{% block content %}
<!-- Custom styles for this page -->
<link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="{{url_for('static', filename='css/toggle-switch.css')}}" rel="stylesheet">
<div class="row">
    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold text-primary">Fancy Stats Settings</h5>
            </div>
            <div class="card-body">
                <label class="switch">
                    <input type="checkbox" id="memberCountCheckbox" onChange="submitMemberCount()">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>
<script>
    function submitMemberCount(e) {
        $.ajax({
            data : {
                description: 'memberCount',
                enabled : $('#memberCountCheckbox').is(":checked")
            },
            type : 'POST',
            url : '/fancyStatsAPI/memberCount'
        })
        .done(function(data) {
            alert("URL updated")
        });
        e.preventDefault();
    }
</script>
{% endblock content %}