{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold text-primary">Server Leaderboard</h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Experience</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in leaderboard %}
                            <tr>
                                <td>{{client.get_user(row.userID).name}}</td>
                                <td>{{row.xp}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}