{% extends "layout.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold text-primary">Website Domain</h5>
            </div>
            <div class="card-body">
                <p>Http address provided to users by the bot when referencing the website</p>
                <span><b>Example Link: </b><span id="liveAddress"></span></span>
                <form method="post">
                    <span><b></b></span>
                    <input type="text" name="webAddress" id="address" value="{{serverConfig['externalURL']}}" onkeyup="liveDomainFunction()">
                    <script>
                        function liveDomainFunction() {
                            var currentAddress = document.getElementById("address").value;
                            if (currentAddress != "") {
                                currentAddress = currentAddress.concat(":5000/leaderboard");
                                document.getElementById("liveAddress").innerHTML = currentAddress;
                            }
                        }
                    </script>
                    <br><br>
                    <input id="submitURL" type="submit" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold text-primary">Public Leaderboard Title Font</h5>
            </div>
            <div class="card-body">
                <p>Upload a .ttf or .otf file to use as the font for the title text</p>
                <form method="post" id="uploadFileForm" enctype = "multipart/form-data">
                    <input type = "file" name = "file" /><br><br>
                    <input id="submitFile" type="submit" class="btn btn-success"/>
                    <input id="resetFont" type="submit" value="Reset to default font" class="btn btn-warning"/>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("#submitURL").click(function(e) {
        $.ajax({
            data : {
                description: 'webAddressUpdate',
                webAddress : $('#address').val()
            },
            type : 'POST',
            url : '/botSettings/processSettings'
        })
        .done(function(data) {
            alert("URL updated")
        });
        e.preventDefault();
    });

    $("#resetFont").click(function(e) {
        $.ajax({
            data : {
                description: 'resetFont'
            },
            type : 'POST',
            url : '/botSettings/processSettings'
        })
        .done(function(data) {
            alert("Font reset")
        });
        e.preventDefault();
    });

    $("#submitFile").click(function(e) {
        var form = $('#uploadFileForm')
        console.log(form)
        var fd = new FormData(form[0])

        e.preventDefault();
        $.ajax({
            paramname: 'file',
            type : 'POST',
            url : '/botSettings/uploadFont',
            data: fd,
            processData: false,  // tell jQuery not to process the data
            contentType: false,   // tell jQuery not to set contentType
            cache: false
        })
        .done(function(data) {
                alert("File uploaded")
        });
    });
</script>
{% endblock content %}